.input-box {
    position: relative;
    width: 180px;
    height: 30px;
    border-radius: 3px;
    background-color: var(--main-outline);
}
.input-box > h3 {
    text-align: center;
    padding-top: 3px;
    font-size: 20px;
    font-family: "Sarabun";
}

.dropdown-list-wrapper {
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 180px;
}

.dropdown-list {
    height: 150px;
    width: 180px;
    position: absolute;
    top: 0;
    background-color: red;
    opacity: 0;
}

.dropdown-list-selected {
    transform: translateY(150px);
    opacity: 1;
}

.dropdown-list-container {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--main-gray);
}

.dropdown-list-container > a {
    text-decoration: none;
}

.dropdown-list-text {
    font-size: 20px;
    text-align: center;
    background-color: purple;
}