.input-box {
  position: absolute;
  width: 180px;
  height: 30px;
  bottom: 5px;
  border-radius: 3px;
  background-color: var(--main-outline);
  z-index: 6;
}
.input-box > h3 {
  text-align: center;
  padding-top: 3px;
  font-size: 18px;
  font-family: "Sarabun";
}

.dropdown-list-wrapper {
  position: relative;
  bottom: 5px;
  height: 150px;
  width: 180px;
}

.dropdown-list {
  height: 150px;
  width: 180px;
  position: absolute;
  bottom: 0;
  background-color: var(--main-fill);
  border: 2px solid var(--main-outline);
  border-radius: 0 0 10px 10px;
  opacity: 0;
}

.dropdown-list-selected {
  transform: translateY(150px);
  opacity: 1;
}

.dropdown-list-container {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--main-gray);
}

.dropdown-list > a {
  text-decoration: none;
}

.dropdown-list-text {
  font-size: 18px;
  text-align: center;
  font-family: "Sarabun";
  color: var(--photo-web-white);
}
