.input-box {
  position: absolute;
  width: 200px;
  padding-right: 20px;
  height: 30px;
  bottom: 5px;
  right: 10%;
  border-radius: 3px;
  background-color: var(--main-outline);
  z-index: 6;
}
.input-box > h3 {
  text-align: center;
  padding-top: 3px;
  font-size: 18px;
  font-family: "Sarabun";
}

.dropdown-caret {
  position: absolute;
  top: 6px;
  right: 4px;
  transition: transform 400ms ease;
}

.caret-selected {
  transform: rotateZ(-180deg);
  transition: transform 400ms ease;
}

.dropdown-list-wrapper {
  position: absolute;
  right: 10%;
  top: 50px;
  height: 150px;
  width: 200px;
  overflow-y: hidden;
}

.dropdown-list {
  height: 150px;
  width: 200px;
  position: absolute;
  transform: translateY(-150px);
  transition: transform 400ms ease;
  background-color: var(--main-fill);
  border: 2px solid var(--main-outline);
  border-radius: 0 0 10px 10px;
}

.dropdown-list-selected {
  transform: translateY(0);
  opacity: 1;
  transition: transform 400ms ease;
}

.dropdown-list-container {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--main-gray);
}

.dropdown-list > a {
  text-decoration: none;
}

.dropdown-list-text {
  font-size: 18px;
  text-align: center;
  font-family: "Sarabun";
  color: var(--photo-web-white);
}

@media screen and (max-width: 500px) {
  .dropdown-container {
    width: 40vw;
    position: relative;
  }

  .dropdown-list-wrapper {
    top: -8px;
  }
  .dropdown-list,
  .dropdown-list-wrapper,
  .input-box {
    width: 100%;
  }
  .dropdown-list-text {
    font-size: 15px;
  }
}
