.navbar-container {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 5px;
  background-color: var(--main-fill);
  border-bottom: 2px solid var(--main-outline);
}

.navbar-container > a {
  text-decoration: none;
}

.navbar-header {
  position: relative;
  font-size: 45px;
  color: var(--main-outline);
}

.navbar-links-container {
  display: flex;
}

.navbar-links-container > a {
  text-decoration: none;
}

.navbar-link {
  font-size: 30px;
  margin-left: 60px;
  color: var(--main-gray);
}

.link-selected {
  transform: scale(1.03);
  color: var(--main-outline);
}

.navbar-link:hover {
  color: var(--main-outline);
  transform: scale(1.03);
  transition: transform 200ms ease, color 200ms ease;
}

.dropdown-wrapper {
  display: none;
}

.navbar-header-small {
  display: none;
}

@media screen and (max-width: 1500px) {
  .navbar-header {
    font-size: 30px;
  }
  .navbar-link {
    font-size: 25px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .navbar-header {
    font-size: 25px;
  }
  .navbar-link {
    font-size: 20px;
    margin-left: 25px;
  }
}

@media screen and (max-width: 900px) {
  .navbar-header {
    right: 50%;
  }
  .navbar-container {
    justify-content: center;
  }
  .dropdown-wrapper {
    display: block;
    margin-left: 5%;
  }
  .navbar-links-container {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navbar-header {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .dropdown-wrapper {
    margin-left: 5%;
  }
  .navbar-header {
    display: none;
  }
  .navbar-header-small {
    position: relative;
    right: 10%;
    display: block;
    font-size: 20px;
    color: var(--main-outline);
  }
}
