:root {
  --main-fill: #0b0b16;
  --main-outline: #5eb0df;
  --main-gray: #a1a1a1;
  --blissely-dark: #8442f7;
  --blissely-light: #bba8db;
  --photo-web-golden: #ebad11;
  --photo-web-white: #eee;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Sarabun";
  src: url("./assets/fonts/blissely/Sarabun-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Pacifico";
  src: url("./assets/fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
}
