:root {
  --main-fill: #0b0b16;
  --main-outline: #5eb0df;
  --blissely-dark: #8442f7;
  --blissely-light: #bba8db;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* 
body {
  background-color: black;
} */

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Sarabun";
  src: url("./assets/fonts/blissely/Sarabun-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Pacifico";
  src: url("./assets/fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
}
