:root {
  --main-fill: #0b0b16;
  --main-outline: #5eb0df;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* 
body {
  background-color: black;
} */

html {
  scroll-behavior: smooth;
}
