/* .blissely-container {
    height: 800px;
} */

.blissely-header {
  font-size: 100px;
  font-family: Arial;
  text-align: center;
}

.blissely-subheader {
  text-align: center;
  font-size: 25px;
}

.blissely-link {
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  color: black;
}

.blissely-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blissely-what {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 200px;
}

.blissely-header-text {
  font-size: 25px;
  font-family: Arial;
  text-align: center;
  width: 40%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.blissely-text {
  font-size: 22px;
  font-family: Arial;
}

.category-one {
  position: absolute;
  width: 35%;
  left: 3%;
  top: 60%;
  margin-top: 15px;
}
.category-two {
  position: absolute;
  width: 35%;
  left: 15%;
  top: 75%;
  margin-top: 15px;
}
.category-three {
  position: absolute;
  width: 35%;
  right: 15%;
  top: 75%;
  margin-top: 15px;
}
.category-four {
  position: absolute;
  width: 35%;
  right: 3%;
  top: 60%;
  margin-top: 15px;
}

.blissely-features {
  width: 100%;
  height: 400px;
  position: relative;
}

.blissely-features > div {
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  background-color: var(--main-outline);
  color: var(--main-fill);
}

.feature-one {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 30%;
}
.feature-two {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 30%;
}
.feature-three {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 30%;
}
.feature-four {
  position: absolute;
  top: 70%;
  left: 45%;
  width: 30%;
}
.feature-five {
  position: absolute;
  left: 60%;
}
.feature-six {
  position: absolute;
  top: 54%;
  left: 72%;
}

.blissely-what-header,
.blissely-features-header {
  font-size: 40px;
  font-family: Arial;
  text-align: center;
}

.blissely-details {
  display: flex;
  justify-content: center;
  /* background-color: red; */
}

.blissely-graphic-flow {
  /* height: 600px; */
  /* width: 600px; */
  width: 30%;
  object-fit: contain;
  background-color: white;
  border-radius: 50px;
}
